* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.city_description::first-letter {
    color: #3d3aaf;
}
.city_description {
    text-indent: '20px';
    font-size: "1.2em";
}
.CityName::first-letter {
    color: #3d3aaf;
}
.city_name {}
.Side {
    min-height: 100vh;
}
.ui.segment {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.list_title {
    text-align: center;
    text-transform: uppercase;
    font-size: 28pt;
}
.event-label {
    background-color: #00bf00 !important;
    color: white !important;
}
.place-label {
    background-color: #3d3aaf !important;
    color: white !important;
}
=======

.CityName::first-letter {
    color : #3d3aaf;
}

.CityCard {
    -moz-box-shadow: 5px 5px 5px 0px #3d3aaf !important;
    -webkit-box-shadow: 5px 5px 5px 0px #3d3aaf !important;
    -o-box-shadow: 5px 5px 5px 0px #3d3aaf !important;
    box-shadow: 5px 5px 5px 0px #3d3aaf !important;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#3d3aaf, Direction=134, Strength=5) !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
}

.CityCard:hover,
.CityCard:focus {
    transform: scale(1.1);

}

.cityList {
    justify-content: center;
}

.Activity::first-letter {
    color: #00bf00;
}


.footer-container {
    text-align: center;
    position:fixed;

    bottom:0;

    width:100%;
    background-color: #3d3aaf;
    color: black;
    font-size: 12pt;
    margin: auto;
}

.footer-container p {
    margin: auto;
    vertical-align: center;
}
